.instruction {
	margin:15px;
}

.button {
	background:#aaaaaa;
	padding:5px;
	margin : 5px;
	-webkit-border-radius:10px;
	color:white;
}

input {
	margin-bottom:20px;
}

.result {
	margin:10px;
	-webkit-border-radius:10px;
	padding:10px;
	font-size:25px;
	border: 1px solid #aaaaaa;
}